- set_meta_tags title: t("painting.archive")

%section
  .header
    %h3.d-inline= t("painting.archive")
  .body
    .row
      %div{class: painting_table_center}
        %table.mt-4{class: "table table-bordered table-sm"}
          %thead
            = render "table_hdr"
          %tbody
            - @paintings.each do |p|
              = render "table_row", p: p
  - if can?(:create, Painting)
    .footer
      = link_to t("painting.new"), new_painting_path, class: "btn btn-primary btn-sm"
