- d = t("pages.available")
= render "meta_tags", d: d

.row
  %div.text-center{class: Sni::Center.call(xx: 6, lg: 8, xs: 10)}
    %h2= d[:long_title]
    = render "paintings/legend", paintings: @paintings
    = render "paintings/gallery_items", paintings: @paintings
