- d = t("pages.exhibitions")
= render "meta_tags", d: d

%main
  .row
    .col-sm-5.p-5
      %h4= d[:title]
      %p
        I exhibit regularly throughout Scotland and my work is in private collections
        in the UK, America, France and Australia. My work is currently on display in
        the Flat Cat Gallery, Lauder.
      %h5 Joint Exhibitions
      %ul
        %li 2012 The Flat Cat Gallery, Lauder, Scotland
        %li 2011 Oathlaw Gallery, Forfar, Scotland
      %h5 Group Exhibitions
      %ul
        %li Stathearn Gallery, Crieff
        %li City Art Centre, Edinburgh
        %li Visual Arts Scotland (RSA Gallery)
        %li Perth Art Gallery and Museum
        %li Peter Potter Gallery, Haddington
        %li Poldrate Mill, Haddington
        %li Di Rollo Gallery, Edinburgh
        %li Paisley Art Institute
        %li No. 4 Gallery, St Abbs
    .col-sm-7.p-5
      %img.img-fluid{src: sample_work, alt: t("sample")}
