// Bootstrap
@import "bootstrap"

// Navbar
nav
  @extend .navbar, .navbar-expand-md, .navbar-dark, .bg-dark

  &>a
    @extend .navbar-brand

  button
    @extend .navbar-toggler

    span
      @extend .navbar-toggler-icon

  #navbar
    ul
      @extend .navbar-nav

      &.left
        @extend .mr-auto

      &.right
        @extend .ml-auto

      &>li
        @extend .nav-item

        &>a
          @extend .nav-link

        .dropdown-menu
          @extend .p-2, .p-md-0

          &>a
            @extend .dropdown-item

  // Selection pictures
img.selector.selected
  opacity: 1.0
  border: 1px black solid
img.selector
  opacity: 0.4
