// Alter defaults
$navbar-dark-color: #eee
$navbar-dark-hover-color: #fff
$navbar-dark-active-color: #fff

// Bootstrap
@import "bootstrap"

// Navbar
nav
  @extend .navbar, .navbar-expand-md, .navbar-dark, .bg-dark, .rounded

  button
    @extend .navbar-toggler

    span
      @extend .navbar-toggler-icon

  #navbar
    &>ul
      @extend .navbar-nav

      &>li
        @extend .nav-item

        &>a
          @extend .nav-link

      &>li.dropdown
        &>ul
          &>li
            &>a
              @extend .dropdown-item

// Links
a
  @extend .text-decoration-none

// For coloured dots
span.dot
  font-size: 0.6em
  vertical-align: text-top

// Selection pictures
img.selector.selected
  opacity: 1.0
  border: 1px black solid
img.selector
  opacity: 0.4

// So text doesn't get selected when buttons are pressed.
.unselectable
  user-select: none

// Sections
section
  @extend .card, .border-secondary, .mb-4

  .header
    @extend .card-header

  .body
    @extend .card-body
    overflow: hidden

  .footer
    @extend .card-footer

// When using rows and columns to simulate tables
.tmd-td
  @extend .p-1, .border-end
.ted-td
  @extend .p-1
.tmd-th
  @extend .p-1, .border-end, .fw-bold
.ted-th
  @extend .p-1, .fw-bold
.mid-td
  @extend .p-1, .border-top, .border-end
.end-td
  @extend .p-1, .border-top
.mid-th
  @extend .p-1, .border-top, .border-end, .fw-bold
.end-th
  @extend .p-1, .border-top, .fw-bold

// Crud forms
form.crud

  textarea
    @extend .font-monospace
    font-size: 0.9rem
    height: 100%

  div.field_with_errors
    label
      color: $red
    input[type="text"], input[type="password"], textarea, select
      background: lighten($pink, 40%)

// Flash notices. Note that, for dismissal, the class "alert" needs to be explicitly present in the HTML.
.flash
  text-align: center
  margin-top: -1rem
  margin-bottom: 1rem

  &.notice
    @extend .alert-success

  &.rails-alert
    @extend .alert-danger
