%nav
  = link_to root_path do
    %img{src: "/logo.png", width: "30", height: "30", alt: "logo", loading: "lazy"}
  %button{type: "button", "data-toggle" => "collapse", "data-target" => "#navbar"}
    %span
  #navbar.collapse.navbar-collapse
    %ul.left
      %li= link_to t("pages.note.title"), note_path
